@charset "UTF-8";
body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #f4f4f4;
}

header {
    background: #007bff;
    padding: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

.content {
    padding: 30px;
}

.btn-primario {
    background: #007bff;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.lista-arquivos, .lista-videos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.arquivo-card, .video-card {
    background: white;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0002;
}

.btn-download {
    background: #28a745;
    padding: 8px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.upload-box {
    background: white;
    width: 400px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px #0003;
}

input, button {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    border-radius: 6px;
}

button {
    background: #007bff;
    color: white;
    border: none;
}

button:hover {
    background: #005fcc;
}