<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Estudo Livre</title>
</head>

<body>
	<style>
		body {
			margin: 0;
			font-family: Poppins, sans-serif;
			background: #f4f4f4;
		}

		header {
			background: #007bff;
			padding: 15px;
			color: #fff;
			display: flex;
			justify-content: space-between;
		}

		.menu a {
			color: #fff;
			margin-left: 20px;
			text-decoration: none;
		}

		.content {
			padding: 30px;
		}
	</style>
	</head>

	<body>

		<header>
			<h2>Estudo Livre</h2>

			<nav class="menu">
				<a href="/materiais">Materiais</a>
				<a href="/videoaulas">Vídeos</a>
				<a href="/logout">Sair</a>
			</nav>
		</header>

		<div class="content">
			<h3>Bem-vindo(a)!</h3>
			<p>Aqui você pode acessar materiais, livros, artigos e videoaulas gratuitamente 🚀</p>
		</div>


	</body>

</html>