<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Login | Estudo Livre</title>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<style type="text/css">
button {
	background: #007bff;
	color: white;
	padding: 10px 18px;
	border-radius: 8px;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 20px;
}
</style>
</head>

<body>

	<div th:replace="~{Menu :: menu}"></div>
	<div class="container">
		<p th:if="${param.error}" class="red-text">Usuário ou senha
			inválidos.</p>
		<p th:if="${param.logout}" class="red-text">Você foi deslogado com
			sucesso.</p>

		<h2>Entrar</h2>

		<form th:action="@{/login}" method="post">
			<input type="text" id="username" name="username" placeholder="Email"
				required> <input type="password" id="password"
				name="password" placeholder="Senha" required>

			<button type="submit">Entrar</button>

			<p class="cadastro">
				Não tem conta? <a href="/cadastro">Cadastre-se</a>
			</p>
		</form>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.sidenav').sidenav();
		});
		$(document).ready(function() {
			$('select').formSelect();
		});
	</script>

</body>
</html>