<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Plataforma de Estudos</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
	<nav th:fragment="menu" class="1e88e5 blue darken-1">
		<div class="nav-wrapper container">
			<a href="#" class="brand-logo">Estudo Livre</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Home</a></li>
				<li><a href="/materiais">Materiais</a></li>
				<li><a href="/materiais/videos">Vídeos</a></li>
				<li><a href="/logout">Sair</a></li>
			</ul>
		</div>
	</nav>
</body>

</html>